<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="." method="post">
        <p>股票代码:<input type="text" name="StockCode"></p>
        <p><input type='submit' value="提交"/></p>
    </form>

    {% if contents %}
    <table border="2">
        <tr>
                {% for content in contents %}
                    <tr>
                        <th> {{ titles[loop.index] }}</th>
                        <td> {{ content }}</td>
                    </tr>
                {% endfor %}
        </tr>
    </table>
    {% endif %}

</body>
</html>

